<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
      {% for msg in messages %}
            <h3>{{ msg }}</h3>
            {% endfor %}
        </div>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration form</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example1m" name="firstname" value="{{personal_details.firstname}}" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example1n" name="lastname" value="{{personal_details.lastname}}"  class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Last name</label>
                    </div>
                  </div>
                </div>


<!--                  <div class="col-md-6 mb-4">-->
<!--                    <div data-mdb-input-init class="form-outline">-->
<!--                      <input type="text" id="form3Example1n1" name="relation" class="form-control form-control-lg" />-->
<!--                      <label class="form-label" for="form3Example1n1">RELATION</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                  <h6 class="mb-0 me-4">Gender: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="sex" id="femaleGender"
                      value="female" />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="sex" id="maleGender"
                      value="Male" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input class="form-check-input" type="radio" name="sex" id="otherGender"
                      value="Other" />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>
                  </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="date" id="form3Example9" name="dob" value="{{personal_details.dob}}" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example9">Date of birth</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <textarea id="form3Example20" name="address" value="{{personal_details.address}}" class="form-control form-control-lg" ></textarea>
                  <label class="form-label" for="form3Example20">Address</label>
                </div>


                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                  <h6 class="mb-0 me-4">Marital status: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="relation" id="married"
                      value="Married" />
                    <label class="form-check-label" for="femaleGender">Married</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="relation" id="unmarried"
                      value="Unmarried" />
                    <label class="form-check-label" for="maleGender">Unmarried</label>
                  </div>
                  </div>






                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example99" name="place" value="{{personal_details.place}}" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example99">Place</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example97" name="email" value="{{personal_details.email}}" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example97">Email ID</label>
                </div>


                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" id="form3Example1m1" name="phone" value="{{personal_details.phone}}" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">Mobile</label>
                    </div>

                <div class="d-flex justify-content-end pt-3">
                  <button  type="button" value="view" class="form-floating mb-3 btn btn-warning">view</button>
<!--                  <button  type="button"  value="personaldetails" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Submit form</button>-->
                <input type="submit" value="submit" class="form-floating mb-3  btn btn-success" >
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</form>
</body>
</html>


<!--                <div class="row">-->
<!--                  <div class="col-md-6 mb-4">-->

<!--                    <select data-mdb-select-init>-->
<!--                      <option value="1">State</option>-->
<!--                      <option value="2">Option 1</option>-->
<!--                      <option value="3">Option 2</option>-->
<!--                      <option value="4">Option 3</option>-->
<!--                    </select>-->

<!--                  </div>-->
<!--                  <div class="col-md-6 mb-4">-->

<!--                    <select data-mdb-select-init>-->
<!--                      <option value="1">City</option>-->
<!--                      <option value="2">Option 1</option>-->
<!--                      <option value="3">Option 2</option>-->
<!--                      <option value="4">Option 3</option>-->
<!--                    </select>-->

<!--                  </div>-->
<!--                </div>-->

